---
import ExperienceCard from "./Cards/ExperienceCard.astro";

const experiencias = [
    {
        from: "ABR 2025",
        to: "ABR 2026",
        position: "Desarrollador de Software Junior",
        company: "Cirion Technologies",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat"
    }
]
---


<section id="experience" class="py-12">
    <div class="flex flex-col items-stretch justify-start gap-8">
        <h2 class="text-2xl md:text-3xl font-medium tracking-tight text-white"> 
            Experiencia
        </h2>

        <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 gap-8">
            {experiencias.map(experiencia => (
                <ExperienceCard
                from={experiencia.from}
                to={experiencia.to}
                description={experiencia.description}
                position={experiencia.position}
                company={experiencia.company}
                />
            ))}
        </div>
    </div>
</section>