--- 
//seccion de proyectos 

import ProjectCard from "./ProjectCard.astro" //importaicon del componente de tarjeta de proyecto 

//array de proyectos para mapearlos y repetir la estructura ideal para el futuro si tengo mas proyectos
const proyectos = [
    {
        titulo: "Proyecto SARA",
        descripcion: "prueba ",
        imagen: "/img/sara.png",
        video: "/videos/sara-demo.mp4",
        techs: ["django.svg", "css.svg", "javascript.svg", "react.svg"]
    },
]
---

<section id="proyectos" class="py-12">
    <div class="flex flex-col items-start justify-start gap-8">
        <h2 class="text-2xl md:text-3xl font-medium tracking-tight text-white"> 
            Proyectos
        </h2>

        <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 gap-8">
            {proyectos.map(proyecto => (
                <ProjectCard
                title={proyecto.titulo}
                description={proyecto.descripcion}
                image={proyecto.imagen}
                video={proyecto.video}
                techs={proyecto.techs}
                />
            ))}
        </div>
    </div>
</section>
